.tox/
venv/
.serverless/
*.sqlite3
starccm_app/
__pycache__/
.idea
get-pip.py
*.DS_Store
.requirements.zip
node_modules/
media/
.serverless-wsgi
_warmup/
serverless_wsgi.py
unzip_requirements.py
wsgi_handler.py
/*.egg-info

/.vscode/
/*.code-workspace
/.coverage
/_virtual_tmp
/scratch/
/_lambda_tmp
/function.zip
