asgiref==3.3.1
attrs==20.3.0
Automat==20.2.0
boto3==1.16.43
botocore==1.19.43
certifi==2020.12.5
characteristic==14.3.0
chardet==4.0.0
click==7.1.2
Codado==0.8.0
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
Crosscap==0.5.0
Django==3.1.4
django-cors-headers==3.6.0
django-guardian==2.3.0
django-rest-registration==0.5.6
django-ses==1.0.3
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
drf-yasg==1.20.0
ftfy==5.8
future==0.18.2
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
inflection==0.5.1
itypes==1.2.0
Jinja2==2.11.2
jmespath==0.10.0
klein==20.6.0
MarkupSafe==1.1.1
mock==4.0.3
packaging==20.8
psycopg2-binary==2.8.6
PyHamcrest==2.0.2
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
sentry-sdk==0.19.5
six==1.15.0
sqlparse==0.4.1
tomlkit==0.7.0
Tubes==0.2.0
Twisted==20.3.0
typing==3.7.4.3
uritemplate==3.0.1
urllib3==1.26.2
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zope.interface==5.2.0
